trigger:
- master

pool:
  name: Default   # local agent

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=JAVA_HOME]C:\Program Files\Java\jdk-21"

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=M2_HOME]C:\agent\externals\apache-maven-3.9.11"

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=PATH]$(M2_HOME)\bin;$(PATH)"

- task: Maven@3
  inputs:
    mavenPomFile: 'HW6DynaWeb/pom.xml'
    goals: 'test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

- task: Maven@3
  inputs:
    mavenPomFile: 'HW6DynaWeb/pom.xml'
    goals: 'package'
