# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'echo "##vso[task.setvariable variable=JAVA_HOME]C:\Program Files\Java\jdk-21"'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'echo "##vso[task.setvariable variable=M2_HOME]C:\agent\externals\apache-maven-3.9.9"'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'echo "##vso[task.setvariable variable=PATH]$(M2_HOME)\bin:$(PATH)"'
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'test'

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'package'
