# Maven pipeline using local Windows agent

trigger:
- master

pool:
  name: Default     # use your local agent pool, NOT ubuntu vmImage

steps:
# --- Set Java & Maven paths on the local agent ---
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=JAVA_HOME]C:\Program Files\Java\jdk-21"

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=M2_HOME]C:\agent\externals\apache-maven-3.9.9"

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "##vso[task.setvariable variable=PATH]$(M2_HOME)\bin;$(PATH)"

# --- Maven test (optional if you want tests) ---
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

# --- Maven package (.war) ---
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'package'
